<div class="container py-5">
    <h1 class="my-5">A propos</h1>
    <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum distinctio quasi dolorem nihil unde eius quisquam, provident maiores consectetur, at mollitia quam reprehenderit autem est error sed esse ex natus.</span></p>
    <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia a deleniti magni? Nemo nam ea placeat maiores aliquid suscipit amet doloribus quam, debitis quae facilis ipsa inventore quas atque. Voluptate!</span></p>
    <p><span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda iusto laboriosam amet laudantium illo! Numquam in autem, commodi quisquam quasi cum laborum? Dicta quae placeat doloribus quam provident quis quo.</span></p>
</div>
